*{
    margin: 0;
    padding: 0;
}

.bg_img_div{
    position: relative;
    height: 700px;
    overflow: hidden;
}

.bg_img{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 700px;
    z-index: 0;
    transition: 1s;
}

.bg_img_div img:hover {
    transform: scale(1.1);
}

.main_sec{
    background-color: #fff;
    padding-top: 166px;
}

.main_div{
    max-width: 770px;
    margin: auto auto 160px;
    text-align: center;
    padding: 0 15px;
}
.main_p{
    font: 18px "Open Sans";
    font-weight: lighter;
    color: #747a7f;
    line-height: 30px;
}

.services_main_div{
    display: flex;
    background-color: #f9f9f9;
    width: 100%;
    box-sizing: border-box;
}

.services_png{
    object-fit: cover;
    width: 50%;
    margin-right: 42px;
}

.services_txt_main_div{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 48px 0;
}
.services_h2{
    font: 45px "Open Sans";
    font-weight: bold;
    color: #505d68;
}

.services_2columns_div {
    margin-left: 14px;
    margin-right: 15px;
    display: flex;
}

.first_p_block{
    width: 195px;
    color: #747a7f;
    font: 21px "Open Sans";
    font-weight: lighter;
    display: flex;
    flex-flow: column-reverse;
    margin-right: 40.5%;
    line-height: 30px;
}
.second_p_block{
    color: #747a7f;
    font: 21px "Open Sans";
    font-weight: lighter;
    display: flex;
    flex-flow: column-reverse;
    line-height: 30px;
    margin-right: 15px;
}

@media only screen and (max-width: 1125px) {
    .first_p_block{
        margin-right: 30%;
    }
    }
@media only screen and (max-width: 985px) {
    .first_p_block{
        margin-right: 20%;
    }
}
@media only screen and (max-width: 775px) {
    .first_p_block{
        margin-right: 10%;
    }
}
@media only screen and (max-width: 768px) {
    .services_main_div{
        flex-direction: column;
    }
    .services_png{
        width: 100%;
    }
    .services_txt_main_div{
        width: 100%;
        box-sizing: border-box;
        padding: 87px 80px;
    }
    .services_h2{
        margin-bottom: 177px;
        font-size: 85px;
    }
    .services_2columns_div{
        flex-direction: column;
        margin-left: 0;
    }
    .first_p_block{
        padding-right: 0;
        width: 570px;
        font-size: 31px;
        line-height: 60px;
        margin-right: 0;
        margin-bottom: 176px;
    }
    .second_p_block{
        font-size: 31px;
        line-height: 60px;
    }
    .main_p{
        font-size: 35px;
        line-height: 45px;
        margin-left: 15px;
        margin-right: 15px;
    }
}