@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
}
/*------------------*/
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    align-items: center;
    font-family: 'Open Sans_SemiBold',sans-serif;
}
.header_body{
    padding: 25px 25px 0 0;
    position: relative;
    display: flex;
    justify-content: space-between;

}
.header_menu{
    position: fixed;
    right: -100%;
    width: 200px;
    z-index: 3;
    background-color: rgba(0,0,0,0.67);
    text-align: center;
    padding: 60px 20px 0 0;

}
.header_menu_mobile{
    position: fixed;
    right: -100%;
    z-index: 3;
    background-color:black;
    text-align: center;
    padding: 5px 5px 0 0;
}
.header_menu_new{
    display: flex;
    align-items: center;
}
.header_menu_new p{
    font-size: 16px;
    color: #fff;
    margin-right: 4px;
    font-weight: 600;
}
.header_list{
    list-style: none;
    align-items: flex-start;
}
.header_list li{
    margin-bottom: 40px;
}

.header_link{
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    text-decoration: none;
}
.logo{
    padding: 0 0 0 25px;
}
.header_logo img{
    width: 100%;
}
.header_logo{
    flex: 0 0 190px;
    position: relative;
    z-index: 3;
}
.header_burger:before{
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 0;
    transition: 0.3s;
}
.header_burger:after{
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    transition: 0.3s;
}
.header_burger span{
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 5px;
    transition: 0.3s;
}
.header_burger{
    display: block;
    position: relative;
    width: 18px;
    height: 12px;
    z-index: 3;
}
.header:before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    background-color: transparent;
    z-index: 2;
}
.header_burger.active:before{
    transform: rotate(45deg);
    top: 5px;
}
.header_burger.active:after{
    transform: rotate(-45deg);
    bottom: 5px;
}
.header_burger.active span{
    transform: scale(0);
}
.header_menu.active{
    z-index: 1;
    right: 0;
}
.header_menu_new.active p {
    transform: scale(0);
}
/*----------------------*/
.header_contact {
    background-color: #d4af37;
    margin-bottom: 128px;
}
.header_contact {
    position: relative;
    overflow: hidden;
}
#img_contact {
    display: block;
    width: 100%;
}

.header_contact {
    width: 100%;
    height: auto;
}

.header_contact #img_contact {
    transition: 1s ease-in-out;
}

.header_contact #img_contact:hover {
    transform: scale(1.1);
}


.contact {
    max-width: 768px;
    margin: auto;
    margin-bottom: 86px;
}
.contact .container{
    text-align: center;
}

.contact .container h4 {
    color: #d4af37;
    font-size: 13px;
    margin-bottom: 27px;
    font-family: "Open Sans",sans-serif;
}
.contact .container h1 {
    color: #747a7f;
    font-size: 44px;
    margin-bottom: 87px;
    font-family: "Open Sans",sans-serif;
    font-weight: bolder;
}
.contact .d-flex {
    display: flex;
    justify-content: space-between;
}
.contact .location {
    width: 25.9%;
    text-align: left;
    background-color: #d3b000;
    padding: 33px 86px 161px 33px;

}
.contact .location .line  {
    text-align: left;
    font-weight: 900;
    color:#ffffff;
    font-family: "Open Sans",sans-serif;
    content: "\f068";
    margin-bottom: 46px;
}
.contact .location h3 {
    color:#ffffff;
    font-size: 25px;
    font-family: "Open Sans",sans-serif;

}
.img_contact #img_contact_main {
    display:block;
    width: 100%;
    height: 100%;
}

.img_contact {
    display: block;
    overflow: hidden;
    width: 57.99%;
}
.contact .img_contact #img_contact_main {
    transition: 1s ease-in-out;
}

.contact .img_contact #img_contact_main:hover {
    transform: scale(1.1);
}

.contact.container .d-flex .down {
    width: 100%;
}
.contact .quote {
    width: 48.5%;
    background-color: #f9f9f9;
    text-align: left;
    padding: 47px 59px 40px 47px;
    line-height: 32px;
}

.contact .number {
    width: 28%;
    background-color: #212121;
    text-align: center;
    padding: 33px 38px 0px 32px;
    font-family: "Open Sans",sans-serif;
}
.contact .number .line  {
    text-align: left;
    font-weight: 900;
    color:#ffffff;
    font-family: "Font Awesome 5 Free";
    content: "\f068";
    margin-bottom: 46px;
}

.contact .number h3 {
    text-align: left;
    color:#ffffff;
    font-size: 22px;
    font-weight: normal;
    font-family: "Open Sans",sans-serif;
    line-height: 32px;

}
.contact .down {
    margin-bottom: 77px;
}

.contact .quote p {
    font-family: "Open Sans",sans-serif;
    color: #323d43;
    font-size: 20px;
    line-height: 32px;
}

.contact .container a{
    padding: 22px 57px 21px 57px;
    text-decoration: none;
    border: solid 2px #000000;
    font-size: 14px;
    color: #021725;
    font-family: "Open Sans",sans-serif;
    transition: 0.4s;
}

.contact .container a:hover {
    background-color: #d3b000 ;
    color: white;
}
footer{
    background-color: #eeeeee;
}

.fter{
    background-color: #eeeeee;
    color:#505d68;
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    max-width: 770px;
    margin: auto;
}

.fter p{
    font: 16px "Open Sans";
    font-weight: lighter;
}
@media only screen and (max-width: 1128px) {
.container.fter p{
        font: 16px "Open Sans";
        font-weight: lighter;
}

    footer {
        padding: 0 33px;
    }

    .fter {
        display: flex;
        flex-direction: column;
    } }
@media only screen and (max-width: 992px) {  }
@media only screen and (max-width: 768px) {
    #img_contact {
        display: none;
    }
    .contact {
        max-width: 670px;
        margin: auto;
        margin-bottom: 147px;
    }
    .contact .d-flex {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .contact .number {
        width: 86%;
        padding: 99px 20px 80px 61px;
        border-top: solid 4px #8d8d8d;
    }
    .contact .quote {
        width: 82.5%;
    }
    .contact .quote p {
        font-size: 30px;
        line-height: 47px;
    }
    .contact .location {
        width: 80.5%;
    }
    .contact .location h3 {
        font-size: 45px;
    }

    .img_contact {
        width: 100%;
    }
    .container.fter p{
        font-size: 30px;
    }
}
@media only screen and (max-width: 552px) {
    .contact .number {
        width: 84%;
        font-size: 45px;
    }
    .contact .quote {
        font-size: 20px;
        width: 79%;
        text-align: center;
    }
    .contact .quote p {
        font-size: 30px;
        line-height: 47px;
    }
    .contact .location {
        width: 75.4%;
    }
    .contact .location h3 {
        font-size: 45px;
    }
}


@media only screen and (max-width: 426px) {
    .contact .number {
        width: 78%;
    }
    .contact .quote {
        width: 72%;
    }
    .contact .quote p {
        font-size: 15px;
        line-height: 32px;
    }
    .contact .location {
        width: 68.6%;
    }
    .contact .location h3 {
        font-size: 32px;
    }
}
@media only screen and (max-width: 376px) {
    .contact .number {
        width: 76%;
    }
    .contact .quote {
        width: 68%;
    }
    .contact .location {
        width: 63.5%;
    }
    .contact .location h3 {
        font-size: 26px;
    }

}
@media only screen and (max-width: 360px) {
    .contact .number {
        width: 74%;
    }
    .contact .quote {
        width: 66%;
    }
    .contact .location {
        width: 62%;
    }
    .contact .location h3 {
        font-size: 24px;
    }
@media only screen and (max-width: 320px) {
}
}



