@media only screen and (max-width: 1024px) {

    .header_bg {
        display: none;
    }

    .mobile_bg {
        display: block;
    }

    .mobile_chevron {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        font-size: 28px;
        color: #fff;
        width: 61px;
        height: 61px;
        border: 2px solid white;
        border-radius: 50%;
        top: 63%;
        left: 50%;
        transform: translateX(-50%);
    }

    .container {
        padding: 0 33px;
    }

    .header_section h1 {
        font-size: 95px;
    }

    .title {
        font-size: 90px;
        line-height: 90px;
    }

    .title:before {
        font-size: 28px;
        line-height: 28px;
    }

    .tell_about {
        padding: 150px 0;
    }


    .tell_about p {
        font-size: 29px;
        line-height: 52px;
    }

    .more-btn {
        font-size: 27px;
        line-height: 106px;
        padding: 0 100px;
    }

    .gallery_first-row, .gallery_second-row {
        flex-direction: column;
        margin: 0;
    }

    .gallery_item {
        margin: 3px 0;
        width: 100%;
    }


    .amazePeople {
        padding: 150px 33px;
    }
    .amazePeople h3, .likeWrite h3, .workUs h3{
        font-size: 90px;
        line-height: 90px;
    }
    .amazePeople h3:before, .likeWrite h3:before, .workUs h3:before{
        font-size: 28px;
        line-height: 28px;
    }

    .threeGuys {
        display: flex;
        flex-direction: column;
    }

    .person {
        max-width: 677px;
        margin-bottom: 60px;
    }

    .person h4 {
        font-size: 40px;
    }

    .person h4.ceo:before, .person h4.designer:before, .person h4.developer:before {
        font-size: 28px;
    }

    .likeWrite {
        padding: 150px 33px;
    }

    .lastPost {
        flex-direction: column;
    }

    .imgLP img {
        width: 100%;
    }

    .lastPostText {
        max-width: 677px;
    }

    .lastPostText h4 {
        font-size: 60px;
    }

    .lastPostText h4:before {
        font-weight: 300;
        font-size: 28px;
        line-height: 28px;
    }

    a.more-blog {
        font-size: 27px;
        line-height: 106px;
        padding: 0 100px;
    }

    .iframe-container {
        overflow: hidden;
        position: relative;
    }

    .iframe-container iframe {
        width: 100%;
    }

    .contactBlocks {
        padding: 0 40px;
    }

    .contactBlocks h4 {
        font-size: 18px;
    }

    .contactBlocks p {
        word-wrap: break-word;
        font-size: 30px;
    }
    .amazePeople p, .lastPostText p,.container.fter p{
        font-size: 29px;
        line-height: 52px;
    }

    footer {
        padding: 0 33px;
    }

    .container.fter {
        display: flex;
        flex-direction: column;
    }

    /**/

    .amazePeople, .likeWrite, .workUs {
        padding: 150px 23px;
        margin-bottom: 40px;
    }
    .amazePeople h3, .likeWrite h3, .workUs h3{
        font-size: 90px;
        line-height: 90px;
    }
    .amazePeople h3:before, .likeWrite h3:before, .workUs h3:before{
        font-size: 32px;
        line-height: 28px;
    }
    .threeGuys {
        display: flex;
        flex-direction: column;
    }

    .person {
        max-width: 770px;
        margin-bottom: 60px;
    }
    .person h4 {
        font-size: 60px;
    }

    .lastPost {
        flex-direction: column;
    }

    .imgLP img {
        width: 100%;
    }

    .lastPostText {
        max-width: 677px;
    }

    .lastPostText h4 {
        font-size: 60px;
    }

    .lastPostText h4:before {
        font-weight: 300;
        font-size: 28px;
        line-height: 28px;
    }

    a.more-blog {
        font-size: 32px;
        line-height: 106px;
        padding: 0 100px;
    }

    .person h4.ceo:before, .person h4.designer:before, .person h4.developer:before {
        font-size: 32px;
    }

    .contactBlocks p {
        word-wrap: break-word;
        font-size: 32px;
    }
    .amazePeople p, .lastPostText p,.container.fter p{
        font-size: 32px;
        line-height: 42px;
    }
    body.lock{
        overflow: hidden;
    }
    .header{
        background-color: rgba(84,90,91,0.67);
        z-index: 10;
        padding: 14px 0 18px 0;
    }
    .header_menu_new p{
        transform: scale(0);
    }
    .header_burger:before{
        height: 6px;
    }
    .header_burger:after{
        height: 6px;
    }
    .header_burger span{
        height: 6px;
    }
    .header_burger{
        width: 35px;
        height: 24px;
    }
    .header_menu.active{
        width: 100%;
        background-color: rgba(0,0,0,0.67);
        text-align: center;
    }
    .header_list li{
        margin-bottom: 40%;
    }
}

@media only screen and (max-width: 992px) {

}




@media only screen and  (max-width: 768px) {


}

@media only screen and (max-width: 550px) {

    .container{
        padding: 0 23px;
    }

    .header_section h1 {
        font-size: 80px;
    }

    .mobile_chevron {

        width: 45px;
        height: 45px;
        top: 68%;
        font-size: 20px;
    }

    .more-btn {
        padding: 0 20px;
        width: 100%;
    }

    .amazePeople, .likeWrite, .workUs {
        padding: 100px 23px;
        margin-bottom: 40px;
    }

    .person h4 {
        font-size: 30px;
    }

    .person h4.ceo:before, .person h4.designer:before, .person h4.developer:before {
        font-size: 23px;
    }

    .amazePeople h3, .likeWrite h3, .workUs h3 {
        font-size: 70px;
        line-height: 90px;
    }

    .amazePeople h3:before, .likeWrite h3:before, .workUs h3:before {
        font-size: 25px;
        line-height: 28px;
    }

    .amazePeople p, .lastPostText p,.container.fter p  {
        font-size: 23px;
        line-height: 52px;
    }

    .lastPostText h4 {
        font-size: 40px;
    }

    .lastPostText h4:before {
        font-weight: 300;
        font-size: 25px;
        line-height: 28px;
    }
    a.more-blog {
        font-size: 17px;
        padding: 0 60px;
        line-height: 80px;
    }
}

@media only screen and (max-width: 425px) {

    .header_section h1 {
        font-size: 60px;
    }


    .mobile_chevron {

        width: 45px;
        height: 45px;
        top: 66%;
        font-size: 20px;
    }

    .title {
        font-size: 30px;
        line-height: 50px;
    }

    .title:before {
        font-size: 20px;
        line-height: 20px;
    }


    .tell_about {
        padding: 100px 0;
        margin-bottom: 40px;
    }

    .tell_about p {
        font-size: 20px;
        line-height: 35px;
    }

    .more-btn {
        font-size: 25px;
        line-height: 80px;
    }

    .amazePeople, .likeWrite, .workUs {
        padding: 100px 23px;
        margin-bottom: 40px;
    }

    .amazePeople h3, .likeWrite h3, .workUs h3{
        font-size: 30px;
        line-height: 50px;
    }
    .amazePeople h3:before, .likeWrite h3:before, .workUs h3:before{
        font-size: 20px;
        line-height: 28px;
    }

    .person h4 {
        font-size: 30px;
    }

    .person h4.ceo:before, .person h4.designer:before, .person h4.developer:before {
        font-size: 20px;
    }

    .lastPostText h4 {
        font-size: 30px;
    }

    .lastPostText h4:before {
        font-weight: 300;
        font-size: 20px;
        line-height: 28px;
    }
    .btn a.more-blog {
        font-size: 25px;
        line-height: 80px;
        padding: 0 50px;
    }
    a.more-blog{
        font-size: 20px;
        line-height: 70px;
        padding: 0 40px;
    }

    .contactBlocks {
        padding: 0 20px;
    }

    .contactBlocks h4 {
        font-size: 16px;
    }

    .contactBlocks p {
        word-wrap: break-word;
        font-size: 20px;
    }
    .amazePeople p, .lastPostText p,.container.fter p{
        font-size: 20px;
        line-height: 35px;
    }

    footer {
        padding: 0 23px;
    }
}

@media only screen and (max-width: 375px) {

    .more-btn {
        font-size: 20px;
        line-height: 70px;
    }
    .btn a.more-blog {
        font-size: 20px;
        line-height: 70px;
        padding: 0 40px;
    }
    a.more-blog{
        font-size: 20px;
        line-height: 70px;
        padding: 0 30px;
    }

    .mobile_chevron {

        width: 45px;
        height: 45px;
        top: 75%;
        font-size: 20px;
    }
}

@media only screen and (max-width: 360px) {
    .contactBlocks p {
        word-wrap: break-word;
        font-size: 15px;
    }
}

@media only screen and (max-width: 320px) {
    .mobile_chevron {

        width: 40px;
        height: 40px;
        top: 80%;
        font-size: 18px;
    }

    .btn a.more-blog{
        font-size: 20px;
        line-height: 70px;
        padding: 0 40px;
    }
    a.more-blog{
        font-size: 20px;
        line-height: 70px;
        padding: 0 20px;
    }
    .contactBlocks p {
        word-wrap: break-word;
        font-size: 15px;
    }

}