@media only screen and (max-width: 1440px) {
    .header_section {
        padding: 338px 0;
    }
}


@media only screen and (max-width: 1280px) {
    .header_section {
        padding: 295px 0;
    }
}


@media only screen and (max-width: 1024px) {

    .header_section {
        padding: 689px 0;
        background-image: url("../images/bg_mobile.jpg");
        background-size: 100%;
    }

    .header_section h1 {
        margin-bottom: 75px;
    }

    .mobile_chevron {
        display: flex;
        margin: auto;
        justify-content: center;
        align-items: center;
        font-size: 28px;
        color: #fff;
        width: 61px;
        height: 61px;
        border: 2px solid white;
        border-radius: 50%;
        text-decoration: none;
    }

    .container {
        padding: 0 33px;
    }

    .header_section h1 {
        font-size: 95px;
    }

    .title {
        font-size: 90px;
        line-height: 90px;
    }

    .title:before {
        font-size: 28px;
        line-height: 28px;
    }

    .tell_about {
        padding: 150px 0;
    }


    .tell_about p {
        font-size: 29px;
        line-height: 52px;
    }

    .more-btn {
        font-size: 27px;
        line-height: 106px;
        padding: 0 100px;
    }

    .gallery_first-row, .gallery_second-row {
        flex-direction: column;
        margin: 0;
    }

    .gallery_item {
        margin: 3px 0;
        width: 100%;
    }


    .amazePeople {
        padding: 150px 33px;
    }
    .amazePeople h3, .likeWrite h3, .workUs h3{
        font-size: 90px;
        line-height: 90px;
    }
    .amazePeople h3:before, .likeWrite h3:before, .workUs h3:before{
        font-size: 28px;
        line-height: 28px;
    }

    .threeGuys {
        display: flex;
        flex-direction: column;
    }

    .person {
        max-width: 677px;
        margin-bottom: 60px;
    }

    .person h4 {
        font-size: 40px;
    }

    .person h4.ceo:before, .person h4.designer:before, .person h4.developer:before {
        font-size: 28px;
    }

    .likeWrite {
        padding: 150px 33px;
    }

    .lastPost {
        flex-direction: column;
    }

    .imgLP img {
        width: 100%;
    }

    .lastPostText {
        max-width: 677px;
    }

    .lastPostText h4 {
        font-size: 60px;
    }

    .lastPostText h4:before {
        font-weight: 300;
        font-size: 28px;
        line-height: 28px;
    }

    a.more-blog {
        font-size: 27px;
        line-height: 106px;
        padding: 0 100px;
    }

    .iframe-container {
        overflow: hidden;
        position: relative;
    }

    .iframe-container iframe {
        width: 100%;
    }

    .contactBlocks {
        padding: 0 40px;
    }

    .contactBlocks h4 {
        font-size: 18px;
    }

    .contactBlocks p {
        word-wrap: break-word;
        font-size: 30px;
    }
    .amazePeople p, .lastPostText p,.container.fter p{
        font-size: 29px;
        line-height: 52px;
    }

    footer {
        padding: 0 33px;
    }

    .container.fter {
        display: flex;
        flex-direction: column;
    }

    /**/

    .amazePeople, .likeWrite, .workUs {
        padding: 150px 23px;
        margin-bottom: 40px;
    }
    .amazePeople h3, .likeWrite h3, .workUs h3{
        font-size: 90px;
        line-height: 90px;
    }
    .amazePeople h3:before, .likeWrite h3:before, .workUs h3:before{
        font-size: 32px;
        line-height: 28px;
    }
    .threeGuys {
        display: flex;
        flex-direction: column;
    }

    .person {
        max-width: 770px;
        margin-bottom: 60px;
    }
    .person h4 {
        font-size: 60px;
    }

    .lastPost {
        flex-direction: column;
    }

    .imgLP img {
        width: 100%;
    }

    .lastPostText {
        max-width: 100%;
    }

    .lastPostText h4 {
        font-size: 60px;
    }

    .lastPostText h4:before {
        font-weight: 300;
        font-size: 28px;
        line-height: 28px;
    }

    a.more-blog {
        font-size: 32px;
        line-height: 106px;
        padding: 0 100px;
    }

    .person h4.ceo:before, .person h4.designer:before, .person h4.developer:before {
        font-size: 32px;
    }

    .contactBlocks p {
        word-wrap: break-word;
        font-size: 32px;
    }
    .amazePeople p, .lastPostText p,.container.fter p{
        font-size: 32px;
        line-height: 42px;
    }
    body.lock{
        overflow: hidden;
    }
    .header{
        background-color: rgba(84,90,91,0.67);
        z-index: 10;
        padding: 14px 0 18px 0;
    }

    .header.fade {
        background-color: rgba(84,90,91,0.67);
    }

    .logo {
        min-width: 366px;
    }

    .header_body {
        padding: 0 28px;
    }

    .header_burger.active span:last-of-type{
        transform: rotate(45deg);
        margin-top: -6px;
    }
    .header_burger.active span:first-of-type{
        transform: rotate(-45deg);
        transform-origin: 22px;
    }

    .header_menu_new:hover span{
        background-color: white;
    }

    .header_menu_new p{
        display: none;
    }

    .header_burger span{
        width: 100%;
        height: 5px;
        margin: 5px 0;
    }


    .header_burger{
        width: 35px;
    }

    .header_menu.active{
        width: 447px;
        max-width: 100vw;
        background-color: rgba(0,0,0,0.67);
        text-align: center;
    }

    .header_link {
        font-size: 30px;
        line-height: 30px;
    }
}

@media only screen and (max-width: 992px) {

    .header_section {
        padding: 487px 0;
    }
}




@media only screen and  (max-width: 768px) {
    .header_section {
        padding: 487px 0;
    }

}

@media only screen and (max-width: 550px) {

    .header_body {
        padding: 0 23px;
    }

    .header_section {
        padding: 321px 0;
    }

    .logo {
        min-width: unset;
    }

    .header_link {
        font-size: 20px;
        line-height: 20px;
    }

    .container{
        padding: 0 23px;
    }

    .header_section h1 {
        font-size: 80px;
    }

    .mobile_chevron {

        width: 45px;
        height: 45px;
        font-size: 20px;
    }

    .more-btn {
        padding: 0 20px;
        width: 100%;
    }

    .amazePeople, .likeWrite, .workUs {
        padding: 100px 23px;
        margin-bottom: 40px;
    }

    .person h4 {
        font-size: 30px;
    }

    .person h4.ceo:before, .person h4.designer:before, .person h4.developer:before {
        font-size: 23px;
    }

    .amazePeople h3, .likeWrite h3, .workUs h3 {
        font-size: 70px;
        line-height: 90px;
    }

    .amazePeople h3:before, .likeWrite h3:before, .workUs h3:before {
        font-size: 25px;
        line-height: 28px;
    }

    .amazePeople p, .lastPostText p,.container.fter p  {
        font-size: 23px;
        line-height: 52px;
    }

    .lastPostText h4 {
        font-size: 40px;
    }

    .lastPostText h4:before {
        font-weight: 300;
        font-size: 25px;
        line-height: 28px;
    }
    a.more-blog {
        font-size: 17px;
        padding: 0 60px;
        line-height: 80px;
    }
}

@media only screen and (max-width: 425px) {

    .header_section {
        padding: 237px 0;
    }


    .header_section h1 {
        font-size: 60px;
    }

    .mobile_chevron {

        width: 45px;
        height: 45px;
        font-size: 20px;
    }

    .title {
        font-size: 30px;
        line-height: 50px;
    }

    .title:before {
        font-size: 20px;
        line-height: 20px;
    }


    .tell_about {
        padding: 100px 0;
        margin-bottom: 40px;
    }

    .tell_about p {
        font-size: 20px;
        line-height: 35px;
    }

    .more-btn {
        font-size: 25px;
        line-height: 80px;
    }

    .amazePeople, .likeWrite, .workUs {
        padding: 100px 23px;
        margin-bottom: 40px;
    }

    .amazePeople h3, .likeWrite h3, .workUs h3{
        font-size: 30px;
        line-height: 50px;
    }
    .amazePeople h3:before, .likeWrite h3:before, .workUs h3:before{
        font-size: 20px;
        line-height: 28px;
    }

    .person h4 {
        font-size: 30px;
    }

    .person h4.ceo:before, .person h4.designer:before, .person h4.developer:before {
        font-size: 20px;
    }

    .lastPostText h4 {
        font-size: 30px;
    }

    .lastPostText h4:before {
        font-weight: 300;
        font-size: 20px;
        line-height: 28px;
    }
    .btn a.more-blog {
        font-size: 25px;
        line-height: 80px;
        padding: 0 50px;
    }
    a.more-blog{
        font-size: 20px;
        line-height: 70px;
        padding: 0 40px;
    }

    .contactBlocks {
        padding: 0 20px;
    }

    .contactBlocks h4 {
        font-size: 16px;
    }

    .contactBlocks p {
        word-wrap: break-word;
        font-size: 20px;
    }
    .amazePeople p, .lastPostText p,.container.fter p{
        font-size: 20px;
        line-height: 35px;
    }

    footer {
        padding: 0 23px;
    }
}

@media only screen and (max-width: 375px) {

    .header_section {
        padding: 152px 0;
    }

    .more-btn {
        font-size: 20px;
        line-height: 70px;
    }
    .btn a.more-blog {
        font-size: 20px;
        line-height: 70px;
        padding: 0 40px;
    }
    a.more-blog{
        font-size: 20px;
        line-height: 70px;
        padding: 0 30px;
    }

    .mobile_chevron {

        width: 45px;
        height: 45px;
        font-size: 20px;
    }
}

@media only screen and (max-width: 360px) {
    .contactBlocks p {
        word-wrap: break-word;
        font-size: 15px;
    }
}

@media only screen and (max-width: 320px) {
    .header_section {
        padding: 105px 0;
    }

    .mobile_chevron {
        width: 40px;
        height: 40px;
        font-size: 18px;
    }

    .btn a.more-blog{
        font-size: 20px;
        line-height: 70px;
        padding: 0 40px;
    }
    a.more-blog{
        font-size: 20px;
        line-height: 70px;
        padding: 0 20px;
    }
    .contactBlocks p {
        word-wrap: break-word;
        font-size: 15px;
    }

}