*{
    margin: 0;
    padding: 0;
}

.bg_img_div{
    position: relative;
    height: 700px;
}

.bg_img{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 700px;
    z-index: 0;
}

.main_sec{
    background-color: #fff;
    padding-top: 84px;
}

.phone_main_sec{
    background-color: #fff;
    padding-top: 84px;
}

.main_div{
    max-width: 1151px; /* Не уверен насчёт этой строки */
    background-color: #f9f9f9;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.phone_main_div{
    max-width: 677px;
    margin: auto;
    background-color: #f9f9f9;
}

.first_column{
    margin: 96px 0 64px 65px;
    max-width: 665px;
}

.phone_first_column{
    margin: 0 31px 0 31px;
}

.phone_second_column{
    margin: 0 31px 29px 31px;
    padding-bottom: 26px;
}


.first_h2{
    font: 45px Open Sans;
    font-weight: bold;
    margin-bottom: 129px;
}

.phone_first_h2{
    font: 95px Open Sans;
    font-weight: bold;
    margin-bottom: 115px;
}

.first_p{
    font: 23px Cardo;
    line-height: 40px;
    margin-bottom: 102px;
}

.first_p a{
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.first_column img{
    margin-bottom: 20px;
}

.second_column{
    margin: 64px 49px 0 0;
    display: flex;
    flex-direction: column;
}

.second_column img{
    margin-bottom: 3px;
}

.under_main_div{
    background-color: white;
    padding: 104px 0 73px;
}

.under_main_div_div{
    max-width: 1018px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.under_main_div_links{
    display: block;
    box-sizing: border-box;
    width: 249px;
    height: 58px;
    border: 1px solid #a1a1a1;
    background-color: transparent;
    padding-top: 16px;
    text-align: center;
    font: 15px Open Sans;
    color: #c4c4c4;
    text-transform: uppercase;
    transition: 0.3s;
}

.a{
    text-decoration: none;
}

.under_main_div_links:hover{
    background-color: #fbcb69;
    border: 1px solid #fbcb69;
    color: white;
}

.first_column_img{
    width: 100%;
    margin-bottom: 33px;
}

.second_column_img{
    width: 100%;
}

@media only screen and (max-width: 1128px) {
    .first_column{
        max-width: 600px;
        margin-right: 50px;
    }
    .first_column img{
        width: 100%;
    }
    .under_main_div{
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media only screen and (max-width: 1024px) {

}
@media only screen and (max-width: 992px) {
    .first_column{
        max-width: 500px;
        margin-right: 50px;
    }
    .first_column img{
        width: 100%;
    }
}
@media only screen and (max-width: 894px) {
.main_div{
    flex-direction: column;
    max-width: 677px;
    margin: auto;
    background-color: #f9f9f9;
}
    .first_column{
        margin: 0 31px 0 31px;
        max-width: 100%;
    }
    .main_div img{
        width: 100%;
    }
    .second_column{
        margin: 0 31px 29px 31px;
    }
    .main_div{
        margin-bottom: 32px;
    }
    .under_main_div{
        display: none;
    }
    .first_h2{
        font-size: 95px;
        margin-bottom: 116px;
    }
}
@media only screen and (max-width: 425px) {

}