*{
    margin: 0;
    padding: 0;
}

/*------------------*/
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    align-items: center;
    font-family: 'Open Sans_SemiBold',sans-serif;
}
.header_body{
    padding: 25px 25px 0 0;
    position: relative;
    display: flex;
    justify-content: space-between;

}
.header_menu{
    position: fixed;
    right: -100%;
    width: 200px;
    z-index: 3;
    background-color: rgba(0,0,0,0.67);
    text-align: center;
    padding: 60px 20px 0 0;

}
.header_menu_mobile{
    position: fixed;
    right: -100%;
    z-index: 3;
    background-color:black;
    text-align: center;
    padding: 5px 5px 0 0;
}
.header_menu_new{
    display: flex;
    align-items: center;
}
.header_menu_new p{
    font-size: 16px;
    color: #fff;
    margin-right: 4px;
    font-weight: 600;
}
.header_list{
    list-style: none;
    align-items: flex-start;
}
.header_list li{
    margin-bottom: 40px;
}

.header_link{
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    text-decoration: none;
}
.logo{
    padding: 0 0 0 25px;
}
.header_logo img{
    width: 100%;
}
.header_logo{
    flex: 0 0 190px;
    position: relative;
    z-index: 3;
}
.header_burger:before{
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 0;
    transition: 0.3s;
}
.header_burger:after{
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    transition: 0.3s;
}
.header_burger span{
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 5px;
    transition: 0.3s;
}
.header_burger{
    display: block;
    position: relative;
    width: 18px;
    height: 12px;
    z-index: 3;
}
.header:before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    background-color: transparent;
    z-index: 2;
}
.header_burger.active:before{
    transform: rotate(45deg);
    top: 5px;
}
.header_burger.active:after{
    transform: rotate(-45deg);
    bottom: 5px;
}
.header_burger.active span{
    transform: scale(0);
}
.header_menu.active{
    z-index: 1;
    right: 0;
}
.header_menu_new.active p {
    transform: scale(0);
}
/*----------------------*/

.bg_img_div{
    position: relative;
    height: 700px;
    overflow: hidden;
}

.bg_img{
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 700px;
    z-index: 0;
    transition: 1s;
}

.bg_img_div img:hover {
    transform: scale(1.1);
}
.header_div:hover .bg_img_div img{
    transform: scale(1.1);
}

.main_sec{
    background-color: #fff;
    padding-top: 84px;
}

.main_div{
    max-width: 1151px; /* Не уверен насчёт этой строки */
    background-color: #f9f9f9;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.phone_main_div{
    max-width: 677px;
    margin: auto;
    background-color: #f9f9f9;
}

.first_column{
    margin: 96px 0 64px 65px;
    max-width: 665px;
}

.phone_first_column{
    margin: 0 31px 0 31px;
}

.phone_second_column{
    margin: 0 31px 29px 31px;
    padding-bottom: 26px;
}


.first_h2{
    font: 45px Open Sans;
    font-weight: bold;
    margin-bottom: 129px;
}

.phone_first_h2{
    font: 95px Open Sans;
    font-weight: bold;
    margin-bottom: 115px;
}

.first_p{
    font: 23px Cardo;
    line-height: 40px;
    margin-bottom: 102px;
}

.first_p a{
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.first_column img{
    margin-bottom: 20px;
}

.second_column{
    margin: 64px 49px 0 0;
    display: flex;
    flex-direction: column;
}

.second_column img{
    margin-bottom: 3px;
}

.under_main_div{
    background-color: white;
    padding: 104px 0 73px;
}

.under_main_div_div{
    max-width: 1018px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.under_main_div_links{
    display: block;
    box-sizing: border-box;
    width: 249px;
    height: 58px;
    border: 1px solid #a1a1a1;
    background-color: transparent;
    padding-top: 16px;
    text-align: center;
    font: 15px Open Sans;
    color: #c4c4c4;
    text-transform: uppercase;
    transition: 0.3s;
}

.a{
    text-decoration: none;
}

.under_main_div_links:hover{
    background-color: #fbcb69;
    border: 1px solid #fbcb69;
    color: white;
}

.first_column_img{
    width: 100%;
    margin-bottom: 33px;
}

.second_column_img{
    width: 100%;
}
footer{
    background-color: #eeeeee;
}

.fter{
    background-color: #eeeeee;
    color:#505d68;
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    max-width: 770px;
    margin: auto;
}

.fter p{
    font: 16px "Open Sans";
    font-weight: lighter;
}


@media only screen and (max-width: 1128px) {
    .main_div{
        margin-left: 15px;
        margin-right: 15px;
    }
    .first_column{
        max-width: 600px;
        margin-right: 50px;
    }
    .first_column img{
        width: 100%;
    }
    .under_main_div{
        margin-left: 20px;
        margin-right: 20px;
    }
    .amazePeople p, .lastPostText p,.container.fter p{
        font-size: 29px;
        line-height: 52px;
    }

    footer {
        padding: 0 33px;
    }

    .fter {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 1024px) {

}
@media only screen and (max-width: 992px) {
    .first_column{
        max-width: 500px;
        margin-right: 50px;
    }
    .first_column img{
        width: 100%;
    }
}
@media only screen and (max-width: 894px) {
.main_div{
    flex-direction: column;
    max-width: 677px;
    margin: auto;
    background-color: #f9f9f9;
}
    .first_column{
        margin: 0 31px 0 31px;
        max-width: 100%;
    }
    .main_div img{
        width: 100%;
    }
    .second_column{
        margin: 0 31px 29px 31px;
    }
    .main_div{
        margin-bottom: 32px;
    }
    .under_main_div{
        display: none;
    }
    .first_h2{
        font-size: 95px;
        margin-bottom: 116px;
    }
}
@media only screen and (max-width: 425px) {

}