* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 770px;
    margin: auto;
    padding: 0 15px;
}

.header_section {
    position: relative;
    overflow: hidden;
    text-align: center;
}

.header_section{
    width: 100%;
    height: auto;
}

.header_section img {
    transition: 1s ease-in-out;
}

.header_section:hover  img{
    transform: scale(1.1);
}

.mobile_bg {
    display: none;
}

.header_section h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    font-style: italic;
    font-size: 80px;
    color: #fff;
    font-weight: 300;
    padding: 0 30px;
}


.tell_about {
    padding: 82px 0;
    text-align: center;
    margin-bottom: 80px;
}

.title {
    font-size: 44px;
    color: #4d5c66;
    font-weight: 600;
    margin-bottom: 50px;
    line-height: 35px;
}


.title:before {
    display: block;
    content: "WHO WE ARE";
    width: 100%;
    font-size: 13px;
    color: #d4af37;
    line-height: 13px;
    margin-bottom: 24px;
}

.title.before:before {
    content: "WHAT WE DO";
}


.tell_about p {
    font-size: 18px;
    color: #021725;
    font-weight: 300;
    line-height: 32px;
    margin-bottom: 40px;
}

.more-btn{
    position: relative;
    display: inline-block;
    font-size:  14px;
    color: #021725;
    text-decoration: none;
    border: 1px solid black;
    padding: 0 53px;
    line-height: 55px;
}


.more-btn:after {

    display: block;
    content: "";
    height: 3px;
    width: 0;
    background-color: transparent;
    transition: .3s;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);

}

.more-btn:hover:after {
    width: 100px;
    background-color: #d4af37;
}

.amazing_work {
    text-align: center;
}

.amazing_work .title {
    margin-bottom: 92px;
}

.gallery {
    display: flex;
    flex-direction: column;
}

.gallery_first-row, .gallery_second-row {
    display: flex;
    justify-content: center;
    margin: 3px;
}

.gallery_item {
    display: inline-block;
    width: 25%;
    margin: 0 3px;
    overflow: hidden;
}

.gallery_item img {
    transition: .7s ease-in-out;
}

.gallery_item:hover img {
    transform: scale(1.2);
}

.container{
    margin: auto;
    max-width: 770px;
}

.amazePeople{
    padding: 82px 0;
    margin-bottom: 80px;
}
.amazePeople h3{
    font-family: 'Open Sans-SemiBold', sans-serif;
    color:#747a7f;
    font-size: 44px;
    text-align: center;
    margin-bottom: 47px;
    padding:24px 8px 0;
}

.amazePeople h3:before{
    content: "Who We Are";
    text-transform: uppercase;
    color: #d4af37;
    font-size: 13px;
    text-align: center;
    display: block;
    width: 100%;
    line-height: 13px;
    margin-bottom: 24px;
}
p.mainPar{
    text-align: center;
    font-family: '../css/Open Sans-Light', sans-serif;
    font-size: 18px;
    color:#021725;
    margin-bottom: 49px;
}
.threeGuys{
    display: flex;
    justify-content: space-between;
}
.person{
    background-color: #f9f9f9;
    max-width: 245px;
    margin-right: 5px;
}

.person h4{
    color:#71777c;
    margin-bottom: 35px;
    padding:51px 0 0 16px;
    font-size:21px;
}

.person h4.ceo:before{
    content: "CEO";
    text-transform: uppercase;
    color: #d4af37;
    font-size: 13px;
    display: block;
    width: 100%;
    line-height: 13px;
    margin-bottom: 21px;
}
.person h4.designer:before{
    content: "DESIGNER";
    text-transform: uppercase;
    color: #d4af37;
    font-size: 13px;
    display: block;
    width: 100%;
    line-height: 13px;
    margin-bottom: 21px;
}
.person h4.developer:before{
    content: "DEVELOPER";
    text-transform: uppercase;
    color: #d4af37;
    font-size: 13px;
    display: block;
    width: 100%;
    line-height: 13px;
    margin-bottom: 21px;
}

.person p{
    text-align: center;
    padding:0 19px 47px 21px;
    color:#021725;
    font-family: '../css/Open Sans-Light', sans-serif;
}


.likeWrite h3{
    font-family: 'Open Sans-SemiBold', sans-serif;
    color:#505d68;
    font-size: 44px;
    text-align: center;
    margin-bottom: 47px;
    padding:24px 8px 0;
}

.likeWrite h3:before{
    content: "Last post";
    text-transform: uppercase;
    color: #d4af37;
    font-size: 13px;
    text-align: center;
    display: block;
    width: 100%;
    line-height: 13px;
    margin-bottom: 24px;
}
.lastPost{
    display: flex;
    justify-content: space-between;
    margin-bottom: 85px;
}
.imgLP img{
    min-height: 389px ;
}
.lastPostText{
    max-width: 385px;
    min-height: 389px;
    background-color: #f9f9f9;
}

.lastPostText h4{
    font-family: 'Open Sans-Regular', sans-serif;
    color:#505d68;
    font-size: 30px;
    padding-left: 40px;
    padding-top: 45px;
    margin-bottom: 35px;
}
.lastPostText h4:before{
    content: "14 September 2014";
    text-transform: uppercase;
    color: #505d68;
    font-size: 13px;
    display: block;
    width: 100%;
    line-height: 13px;
    margin-bottom: 21px;
}
.lastPostText p{
    color: #505d68;
    padding:0 40px 0 40px;
    margin-bottom: 58px;
}

.lastPostText .btn{
    padding:0 40px 40px 40px;
}
a.more-blog{
    display: inline-block;
    font-size: 14px;
    color: #021725;
    text-decoration: none;
    border: 1px solid black;
    padding: 0 53px;
    line-height: 55px;
}

.likeWrite a.more-blog{
    text-align: center;
}
.workUs{
    margin-bottom: 79px;
}
.workUs h3{
    font-family: 'Open Sans-SemiBold', sans-serif;
    color:#505d68;
    font-size: 44px;
    text-align: center;
    margin-bottom: 47px;
    padding:24px 8px 0;
}
.workUs h3:before{
    content: "Contact Us";
    text-transform: uppercase;
    color: #d4af37;
    font-size: 13px;
    text-align: center;
    display: block;
    width: 100%;
    line-height: 13px;
    margin-bottom: 24px;
}
.info_block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contactBlocks{
    max-width:370px;
    background-color: #f9f9f9;
    padding: 0 73px;
}
.contactBlocks h4{
    padding:52px 0 0;
    text-align: center;
    margin-bottom: 48px;
}

.contactBlocks p{
    padding-bottom: 48px;
    text-align: center;
}
footer{
    background-color: #eeeeee;
}

.container.fter{
    background-color: #eeeeee;
    color:#505d68;
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}