*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
}

.bg_img_div{
    position: relative;
    height: 700px;
    overflow: hidden;
}
img {
    display: block;
    width: 100%;
}
.bg_img{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 700px;
    z-index: 0;
    transition: 0.7s;
}

.bg_img_div img:hover {
    transform: scale(1.1);
}

.what_we_do {
    padding: 128px 0 137px;
    text-align: center;
}
.title:before {
    display: block;
    content: "OUR AMAZING WORK";
    width: 100%;
    font: 13px "Open Sans";
    font-weight: bold;
    color: #d4af37;
    line-height: 13px;
    margin-bottom: 24px;
}

.title {
    font: 44px "Open Sans";
    color: #021725;
    font-weight: 600;
    margin-bottom: 50px;
    line-height: 35px;
}


.tell_about p {
    font: 18px "Open Sans";
    color: #676d73;
    font-weight: 300;
    line-height: 32px;
    margin-bottom: 40px;
}
.container{
    max-width: 770px;
    margin: auto;
}

.gallery {
    display: flex;
    flex-direction: column;
}

.gallery_first-row, .gallery_second-row {
    display: flex;
    justify-content: center;
    margin: 3px -3px;
}

.gallery_item {
    display: inline-block;
    width: 25%;
    margin: 0 3px;
    overflow: hidden;
}

.gallery_item img {
    transition: .7s ease-in-out;
}

.gallery_item:hover img {
    transform: scale(1.2);
}

@media only screen and (max-width: 768px) {
    .gallery_item {
        display: inline-block;
        width: 100%;
        margin: 0 3px;
        overflow: hidden;}
    .container{
        margin-left: 15px;
        margin-right: 15px;
    }
    .gallery_first-row{
        flex-direction: column;
        margin-bottom: 0;
    }
    .gallery_second-row{
        flex-direction: column;
        margin-top: 0;
    }
    .gallery{
        flex-direction: column;
    }
    .gallery_item{
        width: 100%;
        margin-bottom: 5px;
    }
}
